################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/_private
# Build outputs
**/bin/
**/obj/

# VS / user-specific
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.slnLaunch.user

# Test results / coverage
TestResults/
*.trx
*.coverage
*.coveragexml

# Rider
.idea/
/BenchmarkDotNet.Artifacts
/README - IT.md
