USE [master]
GO
/****** Object:  Database [HelixScheduler]    Script Date: 04/01/2026 15:51:44 ******/
CREATE DATABASE [HelixScheduler]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HelixScheduler', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HelixScheduler.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HelixScheduler_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HelixScheduler_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HelixScheduler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HelixScheduler]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04/01/2026 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusyEventResources]    Script Date: 04/01/2026 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusyEventResources](
	[BusyEventId] [bigint] NOT NULL,
	[ResourceId] [int] NOT NULL,
 CONSTRAINT [PK_BusyEventResources] PRIMARY KEY CLUSTERED 
(
	[BusyEventId] ASC,
	[ResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusyEvents]    Script Date: 04/01/2026 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusyEvents](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](300) NULL,
	[StartUtc] [datetime2](7) NOT NULL,
	[EndUtc] [datetime2](7) NOT NULL,
	[EventType] [nvarchar](50) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BusyEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DemoScenarioStates]    Script Date: 04/01/2026 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DemoScenarioStates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BaseDateUtc] [datetime2](7) NOT NULL,
	[SeedVersion] [int] NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DemoScenarioStates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResourceProperties]    Script Date: 04/01/2026 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceProperties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NULL,
	[Key] [nvarchar](100) NOT NULL,
	[Label] [nvarchar](200) NOT NULL,
	[SortOrder] [int] NULL,
 CONSTRAINT [PK_ResourceProperties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResourcePropertyLinks]    Script Date: 04/01/2026 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourcePropertyLinks](
	[ResourceId] [int] NOT NULL,
	[PropertyId] [int] NOT NULL,
 CONSTRAINT [PK_ResourcePropertyLinks] PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC,
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResourceRelations]    Script Date: 04/01/2026 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceRelations](
	[ParentResourceId] [int] NOT NULL,
	[ChildResourceId] [int] NOT NULL,
	[RelationType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ResourceRelations] PRIMARY KEY CLUSTERED 
(
	[ParentResourceId] ASC,
	[ChildResourceId] ASC,
	[RelationType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resources]    Script Date: 04/01/2026 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resources](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](64) NULL,
	[Name] [nvarchar](200) NOT NULL,
	[IsSchedulable] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[Capacity] [int] NOT NULL,
 CONSTRAINT [PK_Resources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RuleResources]    Script Date: 04/01/2026 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuleResources](
	[RuleId] [bigint] NOT NULL,
	[ResourceId] [int] NOT NULL,
 CONSTRAINT [PK_RuleResources] PRIMARY KEY CLUSTERED 
(
	[RuleId] ASC,
	[ResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rules]    Script Date: 04/01/2026 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rules](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Kind] [tinyint] NOT NULL,
	[IsExclude] [bit] NOT NULL,
	[Title] [nvarchar](300) NULL,
	[FromDateUtc] [date] NULL,
	[ToDateUtc] [date] NULL,
	[SingleDateUtc] [date] NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[DaysOfWeekMask] [int] NULL,
	[DayOfMonth] [int] NULL,
	[IntervalDays] [int] NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Rules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251221212621_BacklogV1', N'10.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251221212800_BacklogV1_IndexesExtras', N'10.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260102213000_AddResourceCapacity', N'10.0.0')
GO
INSERT [dbo].[BusyEventResources] ([BusyEventId], [ResourceId]) VALUES (2, 2)
INSERT [dbo].[BusyEventResources] ([BusyEventId], [ResourceId]) VALUES (6, 2)
INSERT [dbo].[BusyEventResources] ([BusyEventId], [ResourceId]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[BusyEvents] ON 

INSERT [dbo].[BusyEvents] ([Id], [Title], [StartUtc], [EndUtc], [EventType], [CreatedAtUtc]) VALUES (1, N'Dev: Doctor busy 2025-03-10 15-16', CAST(N'2025-03-10T15:00:00.0000000' AS DateTime2), CAST(N'2025-03-10T16:00:00.0000000' AS DateTime2), NULL, CAST(N'2025-12-21T23:03:07.9908795' AS DateTime2))
INSERT [dbo].[BusyEvents] ([Id], [Title], [StartUtc], [EndUtc], [EventType], [CreatedAtUtc]) VALUES (2, N'Dev: Doctor+Room busy 2025-03-12 14:30-15:00', CAST(N'2025-03-12T14:30:00.0000000' AS DateTime2), CAST(N'2025-03-12T15:00:00.0000000' AS DateTime2), NULL, CAST(N'2025-12-21T23:03:07.9908795' AS DateTime2))
INSERT [dbo].[BusyEvents] ([Id], [Title], [StartUtc], [EndUtc], [EventType], [CreatedAtUtc]) VALUES (3, N'Dev: Doctor 8 busy 2026-03-09 10-11', CAST(N'2026-03-09T10:00:00.0000000' AS DateTime2), CAST(N'2026-03-09T11:00:00.0000000' AS DateTime2), NULL, CAST(N'2026-01-02T15:55:35.6030118' AS DateTime2))
SET IDENTITY_INSERT [dbo].[BusyEvents] OFF
GO
SET IDENTITY_INSERT [dbo].[DemoScenarioStates] ON 

INSERT [dbo].[DemoScenarioStates] ([Id], [BaseDateUtc], [SeedVersion], [UpdatedAtUtc]) VALUES (1, CAST(N'2025-12-29T00:00:00.0000000' AS DateTime2), 1, CAST(N'2026-01-04T00:47:22.5891999' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DemoScenarioStates] OFF
GO
SET IDENTITY_INSERT [dbo].[ResourceProperties] ON 

INSERT [dbo].[ResourceProperties] ([Id], [ParentId], [Key], [Label], [SortOrder]) VALUES (1, NULL, N'Specialization', N'Specialization', NULL)
INSERT [dbo].[ResourceProperties] ([Id], [ParentId], [Key], [Label], [SortOrder]) VALUES (2, NULL, N'RoomFeature', N'RoomFeature', NULL)
INSERT [dbo].[ResourceProperties] ([Id], [ParentId], [Key], [Label], [SortOrder]) VALUES (3, 1, N'Specialization', N'Ophthalmology', 1)
SET IDENTITY_INSERT [dbo].[ResourceProperties] OFF
GO
INSERT [dbo].[ResourcePropertyLinks] ([ResourceId], [PropertyId]) VALUES (3, 3)
INSERT [dbo].[ResourcePropertyLinks] ([ResourceId], [PropertyId]) VALUES (2, 4)
GO
INSERT [dbo].[ResourceRelations] ([ParentResourceId], [ChildResourceId], [RelationType]) VALUES (1, 2, N'Contains')
INSERT [dbo].[ResourceRelations] ([ParentResourceId], [ChildResourceId], [RelationType]) VALUES (1, 3, N'WorksIn')
INSERT [dbo].[ResourceRelations] ([ParentResourceId], [ChildResourceId], [RelationType]) VALUES (2, 3, N'WorksIn')
GO
SET IDENTITY_INSERT [dbo].[Resources] ON 

INSERT [dbo].[Resources] ([Id], [Code], [Name], [IsSchedulable], [CreatedAtUtc], [Capacity]) VALUES (1, N'SITE-A', N'Site A', 0, CAST(N'2025-12-21T21:41:17.6603472' AS DateTime2), 1)
INSERT [dbo].[Resources] ([Id], [Code], [Name], [IsSchedulable], [CreatedAtUtc], [Capacity]) VALUES (2, N'ROOM-1', N'Room 1', 1, CAST(N'2025-12-21T21:41:17.6603472' AS DateTime2), 1)
INSERT [dbo].[Resources] ([Id], [Code], [Name], [IsSchedulable], [CreatedAtUtc], [Capacity]) VALUES (3, N'DOC-7', N'Doctor 7', 1, CAST(N'2025-12-21T21:41:17.6603472' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Resources] OFF
GO
INSERT [dbo].[RuleResources] ([RuleId], [ResourceId]) VALUES (1, 2)
INSERT [dbo].[RuleResources] ([RuleId], [ResourceId]) VALUES (3, 2)
INSERT [dbo].[RuleResources] ([RuleId], [ResourceId]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Rules] ON 

INSERT [dbo].[Rules] ([Id], [Kind], [IsExclude], [Title], [FromDateUtc], [ToDateUtc], [SingleDateUtc], [StartTime], [EndTime], [DaysOfWeekMask], [DayOfMonth], [IntervalDays], [CreatedAtUtc]) VALUES (1, 1, 0, N'Dev: Doctor 7 + Room 1 availability', NULL, NULL, NULL, CAST(N'14:00:00' AS Time), CAST(N'18:00:00' AS Time), 10, NULL, NULL, CAST(N'2025-12-21T23:03:07.9908795' AS DateTime2))
INSERT [dbo].[Rules] ([Id], [Kind], [IsExclude], [Title], [FromDateUtc], [ToDateUtc], [SingleDateUtc], [StartTime], [EndTime], [DaysOfWeekMask], [DayOfMonth], [IntervalDays], [CreatedAtUtc]) VALUES (2, 1, 0, N'Dev: Doctor 8 + Room 2 availability 2026', NULL, NULL, NULL, CAST(N'09:00:00' AS Time), CAST(N'13:00:00' AS Time), 18, NULL, NULL, CAST(N'2026-01-02T15:55:35.6030118' AS DateTime2))
INSERT [dbo].[Rules] ([Id], [Kind], [IsExclude], [Title], [FromDateUtc], [ToDateUtc], [SingleDateUtc], [StartTime], [EndTime], [DaysOfWeekMask], [DayOfMonth], [IntervalDays], [CreatedAtUtc]) VALUES (3, 1, 0, N'Demo: Room 1 availability', CAST(N'2025-12-29' AS Date), CAST(N'2026-01-26' AS Date), NULL, CAST(N'14:00:00' AS Time), CAST(N'18:00:00' AS Time), 10, NULL, NULL, CAST(N'2026-01-03T18:06:32.8177941' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Rules] OFF
GO
/****** Object:  Index [IX_BusyEventResources_ResourceId_BusyEventId]    Script Date: 04/01/2026 15:51:44 ******/
CREATE NONCLUSTERED INDEX [IX_BusyEventResources_ResourceId_BusyEventId] ON [dbo].[BusyEventResources]
(
	[ResourceId] ASC,
	[BusyEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BusyEvents_StartUtc_EndUtc]    Script Date: 04/01/2026 15:51:44 ******/
CREATE NONCLUSTERED INDEX [IX_BusyEvents_StartUtc_EndUtc] ON [dbo].[BusyEvents]
(
	[StartUtc] ASC,
	[EndUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResourceProperties_ParentId]    Script Date: 04/01/2026 15:51:44 ******/
CREATE NONCLUSTERED INDEX [IX_ResourceProperties_ParentId] ON [dbo].[ResourceProperties]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResourcePropertyLinks_PropertyId_ResourceId]    Script Date: 04/01/2026 15:51:44 ******/
CREATE NONCLUSTERED INDEX [IX_ResourcePropertyLinks_PropertyId_ResourceId] ON [dbo].[ResourcePropertyLinks]
(
	[PropertyId] ASC,
	[ResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResourceRelations_ChildResourceId]    Script Date: 04/01/2026 15:51:44 ******/
CREATE NONCLUSTERED INDEX [IX_ResourceRelations_ChildResourceId] ON [dbo].[ResourceRelations]
(
	[ChildResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Resources_Code]    Script Date: 04/01/2026 15:51:44 ******/
CREATE NONCLUSTERED INDEX [IX_Resources_Code] ON [dbo].[Resources]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Resources_IsSchedulable]    Script Date: 04/01/2026 15:51:44 ******/
CREATE NONCLUSTERED INDEX [IX_Resources_IsSchedulable] ON [dbo].[Resources]
(
	[IsSchedulable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RuleResources_ResourceId_RuleId]    Script Date: 04/01/2026 15:51:44 ******/
CREATE NONCLUSTERED INDEX [IX_RuleResources_ResourceId_RuleId] ON [dbo].[RuleResources]
(
	[ResourceId] ASC,
	[RuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rules_FromDateUtc_ToDateUtc_SingleDateUtc]    Script Date: 04/01/2026 15:51:44 ******/
CREATE NONCLUSTERED INDEX [IX_Rules_FromDateUtc_ToDateUtc_SingleDateUtc] ON [dbo].[Rules]
(
	[FromDateUtc] ASC,
	[ToDateUtc] ASC,
	[SingleDateUtc] ASC
)
INCLUDE([IsExclude]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT ((1)) FOR [Capacity]
GO
ALTER TABLE [dbo].[BusyEventResources]  WITH CHECK ADD  CONSTRAINT [FK_BusyEventResources_BusyEvents_BusyEventId] FOREIGN KEY([BusyEventId])
REFERENCES [dbo].[BusyEvents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusyEventResources] CHECK CONSTRAINT [FK_BusyEventResources_BusyEvents_BusyEventId]
GO
ALTER TABLE [dbo].[BusyEventResources]  WITH CHECK ADD  CONSTRAINT [FK_BusyEventResources_Resources_ResourceId] FOREIGN KEY([ResourceId])
REFERENCES [dbo].[Resources] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusyEventResources] CHECK CONSTRAINT [FK_BusyEventResources_Resources_ResourceId]
GO
ALTER TABLE [dbo].[ResourceProperties]  WITH CHECK ADD  CONSTRAINT [FK_ResourceProperties_ResourceProperties_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[ResourceProperties] ([Id])
GO
ALTER TABLE [dbo].[ResourceProperties] CHECK CONSTRAINT [FK_ResourceProperties_ResourceProperties_ParentId]
GO
ALTER TABLE [dbo].[ResourcePropertyLinks]  WITH CHECK ADD  CONSTRAINT [FK_ResourcePropertyLinks_ResourceProperties_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[ResourceProperties] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ResourcePropertyLinks] CHECK CONSTRAINT [FK_ResourcePropertyLinks_ResourceProperties_PropertyId]
GO
ALTER TABLE [dbo].[ResourcePropertyLinks]  WITH CHECK ADD  CONSTRAINT [FK_ResourcePropertyLinks_Resources_ResourceId] FOREIGN KEY([ResourceId])
REFERENCES [dbo].[Resources] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ResourcePropertyLinks] CHECK CONSTRAINT [FK_ResourcePropertyLinks_Resources_ResourceId]
GO
ALTER TABLE [dbo].[ResourceRelations]  WITH CHECK ADD  CONSTRAINT [FK_ResourceRelations_Resources_ChildResourceId] FOREIGN KEY([ChildResourceId])
REFERENCES [dbo].[Resources] ([Id])
GO
ALTER TABLE [dbo].[ResourceRelations] CHECK CONSTRAINT [FK_ResourceRelations_Resources_ChildResourceId]
GO
ALTER TABLE [dbo].[ResourceRelations]  WITH CHECK ADD  CONSTRAINT [FK_ResourceRelations_Resources_ParentResourceId] FOREIGN KEY([ParentResourceId])
REFERENCES [dbo].[Resources] ([Id])
GO
ALTER TABLE [dbo].[ResourceRelations] CHECK CONSTRAINT [FK_ResourceRelations_Resources_ParentResourceId]
GO
ALTER TABLE [dbo].[RuleResources]  WITH CHECK ADD  CONSTRAINT [FK_RuleResources_Resources_ResourceId] FOREIGN KEY([ResourceId])
REFERENCES [dbo].[Resources] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RuleResources] CHECK CONSTRAINT [FK_RuleResources_Resources_ResourceId]
GO
ALTER TABLE [dbo].[RuleResources]  WITH CHECK ADD  CONSTRAINT [FK_RuleResources_Rules_RuleId] FOREIGN KEY([RuleId])
REFERENCES [dbo].[Rules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RuleResources] CHECK CONSTRAINT [FK_RuleResources_Rules_RuleId]
GO
ALTER TABLE [dbo].[Resources]  WITH CHECK ADD  CONSTRAINT [CK_Resources_Capacity] CHECK  (([Capacity]>=(1)))
GO
ALTER TABLE [dbo].[Resources] CHECK CONSTRAINT [CK_Resources_Capacity]
GO
USE [master]
GO
